.card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
  width: 600px;
}

.card img {
  border-radius: 10px 10px 0 0;
}

#cardTitle {
  font-size: 26px;
}

#cardTitle:hover {
  cursor: pointer;
}
