<form class ="search" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="text"
          class="form-control"
          id="search"
          [(ngModel)]="search"
          name="search"
          placeholder="Search by title..." />
    <button type="submit">Search</button>
  </div>
</form>
<ul class="newsfeed" *ngIf="articles"
    infiniteScroll
    [immediateCheck]="true"
    [infiniteScrollDistance]="1"
    (scrolled)="onScroll()">
    <app-newsfeed-item *ngFor="let article of articles" [article]="article"></app-newsfeed-item>
</ul>
